@import "import/reset";
@import "import/variables";
@import "import/buttons";



body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;
  min-width: 302px;
  transition: $base-transition;
  color: $base-font-color;
  background-color: $base-background-color;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: 24px;
  line-height: $heading-line-height;
  margin: 0 0 .65em;
  text-transform: uppercase;
  font-weight: bold;
  color: #2c303d;
  letter-spacing: 2px;
  letter-spacing: 1.8px;

}
h2,
h3,
h4,
h5,
h6{
  font-family: $base-font-family;
  font-size: 22px;
  letter-spacing: 2.5px;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;
  color: $action-color;
  font-size: 18px;
  font-weight: bold;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;
  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}



nav {
  ul {
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}


article {
  @extend .clearfix;
}



.row{
  max-width: 934px;
  margin:auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.rating{
  float: left;
  margin-top: 22px;
  ul {
  list-style-type:none;
  padding:0;
  -moz-user-select:none;
  -webkit-user-select:none;
  font-size: 0;
    li {
    display:inline-block;
    margin: 0;
      i {
      width: 18px;
      height: 18px;
      background-image: url(../img/star.png);
      display:block;
    }
    &.hover{
      i {
      background-image: url(../img/star_a.png);
       }
    }
    &.selected{
      i {
        background-image: url(../img/star_a.png);
      }
    }
  }
}
}
.top{
  .leftside{
    width: 50%;
    padding-top: 6px;
    float: left;
    .img_w{
      width: 100%;
      max-width:400px;
      background: #eaf2f4;
      position: relative;
      overflow: hidden;
      height: 420px;
      img{
            display: block;
            width: auto;
            height:100%;
            position: relative;
            left: 0;
            right: 0;
            margin: auto;
            max-height: 391px;
            top: 10px;
            max-width: unset;

      }
    }
  }
  .rightside{
    width: 45%;
    width: 45.4%;
    float: right;
    .number{
      font-size: 11px;
      color: #2c303d;
      letter-spacing: unset;
      letter-spacing: 0.2px;
    }
    .prices{
      width: 100%;
      margin-top: 18px;
      .old,.new{
        font-size: 24px;
        font-weight: bold;
        color: #2c303d;
        text-decoration: line-through;
        float:left;

      }
      .new{
       color: #ce2c52;
       text-decoration: none;
       margin-left: 20px;
       margin-left: 26px;
      }

    }
    .share{
      margin-left: 18px;
      margin-top: 23px;
      float: left;
      letter-spacing: 1px;
    }
    .size{
      margin-top: 25px;
      span{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        float: left;
        margin-right: 16px;
        margin-top: 11px;
        letter-spacing: 1.4px;
      }
      a{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        behavior: url(css/PIE.htc);
        z-index: 0;
        position: relative;
        font-size: 12px;
        border:1px solid #2c303d;
        color: #2c303d;
        text-align: center;
        display: block;
        float: left;
        margin-right: 13px;
        line-height: 37px;
        &:hover,&.active{
          color: #fff;
          background: #2c303d;
        }
      }
    }
    .txt{
      margin-top: 25px;
      p{
      font-size: 12px;
      font-family: Open Sans Light,sans-serif;
      letter-spacing: 0.3px;
      line-height: 16px;
      }
    }
    button{
      margin-top: 25px;
    }
  }
}

.bottom{
  margin-top: 62px;
  .item{
    width: 31%;
    width: 31.8%;
    float: left;
    margin-right: 2%;
    margin-right: 2.3%;
    margin-bottom: 2%;
    margin-bottom: 2.3%;
    position: relative;
    &:nth-child(3n){
      margin-right: 0;
    }
    .img_w{
      width: 100%;
      max-width:400px;
      background: #eaf2f4;
      position: relative;
      overflow: hidden;
      height: 265px;
      img{
            display: block;
            width: auto;
            height:100%;
            position: relative;
            left: 0;
            right: 0;
            margin: auto;
            max-height: 100%;
            max-width: unset;

      }
    }
    .prices{
      position: absolute;
      bottom: 21px;
      background: #8ae6cf;
      right: 0;
      padding: 3px;
      padding-left: 4px;
      padding-right: 0;
      div{
        color: #2c303d;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1.3px;
      }
      .old{
        text-decoration: line-through;
        float: left;
        margin-left: 7px;
      }
      .new {
      color: #ce2c52;
      margin-left: 13px;
      float: left;
      margin-right: 8px;
      }
    }
    &:hover{
      opacity: 0.8;
    }
  }
}

.share_with{
  display: none;
  position: absolute;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  behavior: url(css/PIE.htc);
  background: #fff;
  padding: 15px;
  margin-top: 56px;
  margin-left: 5px;
  .items{
    a{
    width: 40px;
    position: relative;
    height: 40px;
    border: 1px solid #2c87ce;
    border-radius: 50%;
    behavior: url(css/PIE.htc);
    float: left;
    margin-right: 14px;
    margin-top: 12px;
    text-align: center;
    margin-bottom: 6px;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        opacity: 0.8;
      }
      img{
        display: block;
        width: auto;
        height: auto;
        margin: auto;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }
  }
  &.open{
    display: block;
  }
  .title{
    color: #2c87ce;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .close{
      display: block;
      width: 15px;
      height: 15px;
      background-image: url(../img/close.png);
      cursor:pointer;
      position: absolute;
      right: 15px;
      top: 15px;
      &:hover{
        opacity: 0.8;
      }
  }
  &:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 11px;
    left: 0;
    top: -11px;
    right: 0;
    margin: auto;
    display: block;
    background-image: url(../img/tree.png);

}
}

.respons_tablet{
  display: none;
  &.title{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-bottom: 12px;
  }
}

.buttons{
  display: none;

}

@media (max-width:1024px)  {
.respons_tablet{
display: block;
}
.row{
    padding-left: 35px;
    padding-right: 35px;
    max-width: 716px;
    padding-top: 36px;
 }
 .top{
  position: relative;
  padding-top: 55px;
  .rightside{
    width: 45%;
    h1{
      position: absolute;
      left: 0;
      top: 0;
      letter-spacing: 1.9px;
    }
    .share{
      display: none;
    }
    .share_with{
    display: block;
    left: 17px;
    background: none;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 40px;
    top: 71px;
    padding: 0;
      &:before{
        display: none;
      }
      .title,.close{
        display: none;
      }
      .items{
        a{
          margin: 0;
          margin-bottom: 11px;
        }
      }
    }
    .size{
      span{
            display: none;
          }
    }
    .prices{
        margin-top: 10px;
      .old,.new {
      font-size: 36px;
      }
    }
    .rating {
        margin-top: 12px;
    }
    .size {
        margin-top: 27px;
        a {
          margin-right: 23px;
      }
    }
    button {
    margin-top: 21px;
    width: 220px;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 13px;
  }
 }
 .leftside{
  padding-top: 0;
  width: 52%;
  .img_w{
    height: 354px;
    img{
     max-height: 94%;
    }
  }
 }
 }
.bottom{
    margin-top: 58px;
  h2{
    text-align: center;
    font-size: 22px;
    letter-spacing: 1.5px;
    margin-bottom: 29px;
    font-family: Open Sans Bold,sans-serif;

  }
  .item,.item:nth-child(3n){
    width: 46%;
    width: 46.5%;
    margin: 6.2%;
    margin-left: 0;
    margin-top: 0;
    &:nth-child(2n){
      margin-right: 0;
    }
    .img_w{
      height: 284px;
      background: none;
      img{
        min-width: 100%;
      }
      }
      .prices{
        width: 100%;
        bottom: 0;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        div {
            font-size: 22px;
            letter-spacing: 2.3px;
            font-family: Open Sans Bold,sans-serif;
        }
          .old{
            display: none;
            margin: 0;
          }
          .new{
            width: 100%;
            margin: 0;
          }
      }
  }
}
}


@media (max-width:700px)  {
.row{
  padding-left: 0;
  padding-right: 0;
}
  .bottom{
    .item:nth-child(2n){
    float: right;

  }
  }
}

@media (max-width:600px)  {
.row{
max-width :400px;
padding-top: 36px;
}
  .top{
   padding-top: 96px;
  .leftside{
    width: 100%;
    .img_w{
      height: 420px;
      width: 100%;
      min-width: 100%;
    }
  }
  .rightside{
    width: 100%;
    float: left;
    padding-right: 34px;
    padding-left: 34px;
    .number {
      font-size: 13px;
      margin-top: 16px;
    }
    .share_with{
      width: 100%;
      position: relative;
      float: left;
      left: auto;
      right: auto;
      top: auto;
      .items{
        a {
          margin: 0px;
          margin-top: 29px;
          margin-right: 17px;
      }
      }
    }
  h1 {
    padding-left: 40px;
    padding-right: 66px;
    font-size: 27px;
    letter-spacing: .2px;
    line-height: 36px;
  }
  .respons_tablet.title{
    display: none;

  }
    .txt{
          margin-top: 30px;
      p {
      font-size: 15px;
      letter-spacing: 0.3px;
      line-height: 20px;
    }
    }
    .size {
        margin-top: 37px;
      .respons_tablet.title{
      display: block;
      text-align: center;
      font-size: 20px;

    }
    .items{
      max-width: 276px;
      margin: auto;
      a {
        margin: 14px;
        margin-top: 3px;
      }
    }

    }
    button {
      width: 282px;
      padding: 19px;
      margin: auto;
      display: block;
      margin-top: 16px;
      border-radius: 30px;
  }
  }
  }
.bottom{
      position: relative;
      margin-top: 85px;
      h2 {
        font-size: 23px;
        margin-bottom: 17px;

    }
}
#slides{
    position: relative;
    height: 264px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 278px;
    overflow: hidden;
    margin: auto;

.item{
  .prices{
        background: rgba(138, 230, 207, 0.84);
  }
}
.item,.item:nth-child(2n),.item:nth-child(3n){
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    &.showing{
    opacity: 1;
    z-index: 2;
    }
    .prices{
      padding: 6px;
      div {
      font-size: 18px;
      }
    }
}



}
.controls{
    display: none;
}

.controls{
  background: none;
  background-image: url(../img/ar_r.png);
    width: 33px;
    height: 57px;
  border-radius:none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-size: cover;
  &:focus{
    border: none;
    box-shadow: none;
    outline: none;
  }
  &#previous{
    background-image: url(../img/ar_l.png);
    left: 0;
    right: auto;
  }
}

.container{
  position: relative;
}

.buttons{
  position: absolute;
  left: 0px;
  right: 0;
  width: 100%;
    top: auto;
    bottom: 108px;
  z-index: 10;
  font-size: 0px;
  margin: auto;
    max-width: 360px;
  height: 50px;
  display: block;

}
}


@media (max-width:370px)  {
.top{
  .rightside{
  padding-left: 10px;
  padding-right: 10px;
  .share_with{
    .items{
     a {
        margin-right: 10px;
    }
    }
  }
  h1{
    padding-left: 10px;
    padding-right: 10px;
  }
  }
}
#slides {
    width: 78%;
}
}
