html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html,
body {
  height: 100%;
}

html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  line-height: 1;
  position: relative;
  width: 100%;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

dd,
ol,
ul {
  padding: 0;
}

p {
  hyphens: auto;
}

blockquote,
q {
  margin: 0;
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  background-color: transparent;
}

a:focus {
  outline: 0;
}

a:focus, a:active, a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 100%;
  _font-family: 'courier new',monospace;
}

button,
input,
select,
textarea {
  font-size: 100%;
  line-height: normal;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

optgroup {
  font-weight: bold;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[disabled] {
  cursor: default;
}

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type='search'] {
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table td,
table th {
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*:after, *:before {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

dfn {
  font-style: italic;
}

mark {
  color: #000;
  background-color: #ff0;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -.5em;
  vertical-align: baseline;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  width: auto;
  /* IE8 */
  max-width: 100%;
  height: auto;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure,
form {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
  white-space: normal;
  border: 0;
  *margin-left: -7px;
}

.clearfix, nav ul, article {
  *zoom: 1;
}

.clearfix:before, nav ul:before, article:before {
  display: table;
  content: '';
}

.clearfix:after, nav ul:after, article:after {
  display: table;
  clear: both;
  content: '';
}

.clear {
  clear: both;
}

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

.button,
.btn,
input[type='button'],
input[type='reset'],
input[type='submit'],
button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  padding: 15px;
  width: 214px;
  cursor: pointer;
  user-select: none;
  transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #2c303d;
  border: none;
  border-radius: 22px;
  background-color: #8ae6cf;
  -webkit-font-smoothing: antialiased;
}

.button:hover, .button:focus,
.btn:hover,
.btn:focus,
input[type='button']:hover,
input[type='button']:focus,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='submit']:hover,
input[type='submit']:focus,
button:hover,
button:focus {
  opacity: 0.8;
}

.button:active,
.btn:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active,
button:active {
  opacity: 0.8;
}

.button:disabled,
.btn:disabled,
input[type='button']:disabled,
input[type='reset']:disabled,
input[type='submit']:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: .5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  min-width: 302px;
  transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  color: #282828;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 .65em;
  text-transform: uppercase;
  font-weight: bold;
  color: #2c303d;
  letter-spacing: 2px;
  letter-spacing: 1.8px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 2.5px;
}

p,
pre {
  margin: 0 0 0.55em;
}

a {
  transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  text-decoration: none;
  color: #2c87ce;
  font-size: 18px;
  font-weight: bold;
}

a:active, a:focus, a:hover {
  color: #1f5e8f;
}

a:active, a:focus {
  color: #68abdf;
  outline: none;
}

hr {
  margin: 1.1em 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
  border-left: none;
}

img,
picture {
  max-width: 100%;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

.row {
  max-width: 934px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.rating {
  float: left;
  margin-top: 22px;
}

.rating ul {
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-size: 0;
}

.rating ul li {
  display: inline-block;
  margin: 0;
}

.rating ul li i {
  width: 18px;
  height: 18px;
  background-image: url(../img/star.png);
  display: block;
}

.rating ul li.hover i {
  background-image: url(../img/star_a.png);
}

.rating ul li.selected i {
  background-image: url(../img/star_a.png);
}

.top .leftside {
  width: 50%;
  padding-top: 6px;
  float: left;
}

.top .leftside .img_w {
  width: 100%;
  max-width: 400px;
  background: #eaf2f4;
  position: relative;
  overflow: hidden;
  height: 420px;
}

.top .leftside .img_w img {
  display: block;
  width: auto;
  height: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) translateZ(0);
  transform: translateX(-50%) translateZ(0);
  max-height: 391px;
  top: 10px;
  max-width: unset;
}

.top .rightside {
  width: 45%;
  width: 45.4%;
  float: right;
}

.top .rightside .number {
  font-size: 11px;
  color: #2c303d;
  letter-spacing: unset;
  letter-spacing: 0.2px;
}

.top .rightside .prices {
  width: 100%;
  margin-top: 18px;
}

.top .rightside .prices .old, .top .rightside .prices .new {
  font-size: 24px;
  font-weight: bold;
  color: #2c303d;
  text-decoration: line-through;
  float: left;
}

.top .rightside .prices .new {
  color: #ce2c52;
  text-decoration: none;
  margin-left: 20px;
  margin-left: 26px;
}

.top .rightside .share {
  margin-left: 18px;
  margin-top: 23px;
  float: left;
  letter-spacing: 1px;
}

.top .rightside .size {
  margin-top: 25px;
}

.top .rightside .size span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  margin-right: 16px;
  margin-top: 11px;
  letter-spacing: 1.4px;
}

.top .rightside .size a {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 12px;
  border: 1px solid #2c303d;
  color: #2c303d;
  text-align: center;
  display: block;
  float: left;
  margin-right: 13px;
  line-height: 37px;
}

.top .rightside .size a:hover, .top .rightside .size a.active {
  color: #fff;
  background: #2c303d;
}

.top .rightside .txt {
  margin-top: 25px;
}

.top .rightside .txt p {
  font-size: 12px;
  font-family: Open Sans Light,sans-serif;
  letter-spacing: 0.3px;
  line-height: 16px;
}

.top .rightside button {
  margin-top: 25px;
}

.bottom {
  margin-top: 62px;
}

.bottom .item {
  width: 31%;
  width: 31.8%;
  float: left;
  margin-right: 2%;
  margin-right: 2.3%;
  margin-bottom: 2%;
  margin-bottom: 2.3%;
  position: relative;
}

.bottom .item:nth-child(3n) {
  margin-right: 0;
}

.bottom .item .img_w {
  width: 100%;
  max-width: 400px;
  background: #eaf2f4;
  position: relative;
  overflow: hidden;
  height: 265px;
}

.bottom .item .img_w img {
  display: block;
  width: auto;
  height: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) translateZ(0);
  transform: translateX(-50%) translateZ(0);
  max-height: 100%;
  max-width: unset;
}

.bottom .item .prices {
  position: absolute;
  bottom: 21px;
  background: #8ae6cf;
  right: 0;
  padding: 3px;
  padding-left: 4px;
  padding-right: 0;
}

.bottom .item .prices div {
  color: #2c303d;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.3px;
}

.bottom .item .prices .old {
  text-decoration: line-through;
  float: left;
  margin-left: 7px;
}

.bottom .item .prices .new {
  color: #ce2c52;
  margin-left: 13px;
  float: left;
  margin-right: 8px;
}

.bottom .item:hover {
  opacity: 0.8;
}

.share_with {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  background: #fff;
  padding: 15px;
  margin-top: 56px;
  margin-left: 5px;
}

.share_with .items a {
  width: 40px;
  position: relative;
  height: 40px;
  border: 1px solid #2c87ce;
  border-radius: 50%;
  float: left;
  margin-right: 14px;
  margin-top: 12px;
  text-align: center;
  margin-bottom: 6px;
}

.share_with .items a:last-child {
  margin-right: 0;
}

.share_with .items a:hover {
  opacity: 0.8;
}

.share_with .items a img {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.share_with.open {
  display: block;
}

.share_with .title {
  color: #2c87ce;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.share_with .close {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../img/close.png);
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

.share_with .close:hover {
  opacity: 0.8;
}

.share_with:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 11px;
  left: 0;
  top: -11px;
  right: 0;
  margin: auto;
  display: block;
  background-image: url(../img/tree.png);
}

/*# sourceMappingURL=maps/main.css.map */
